
	<!-- start of JO form -->
	<div class="modal fade" id="serviceRate">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-white">
				<div class="modal-header bg-light">
					<label class="modal-title centerModalTitle">
						<span class="lead"><b>Your Service Rate</b></span>
					</label>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body bg-white">
					<form>
						<div class="table-responsiv">	
						<table class="table table-striped table-sm">
						  <thead class="bg-primary">
						    <tr>
						      <th scope="col">Service Description</th>
						      <th scope="col">Rate(PHP)</th>
						      <th scope="col" class="text-center">Action</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>Finishing</td>
						      <td>&#8369; 100</td>
						      <td>
						      	<div class="d-flex justify-content-center">
						      		<div class="offset-sm-1">
						      			<div class="row">
							      			<div class="col-sm">
							      				<div class="container">
							      					<button type="button" class="btn btn-warning">Edit</button>
							      					<button type="button" class="btn btn-danger">Delete</button>
							      				</div>
							      			</div>
						      			</div>
						      		</div>
						      	</div>
						      </td>
						    </tr>
						  </tbody>
						</table>
						</div>
					</form>
				</div>
				<div class="modal-footer bg-light">
					<button type="submit" class="btn btn-success"><span class="text-white">Submit</span></button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="text-white">Close</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of JO form -->



	<!-- reviews and rating -->
	<div class="modal fade" id="reviewAndRating">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-white">
				<div class="modal-header bg-light">
					<label class="modal-title centerModalTitle">
						<span class="lead"><b>My Reviews and Rating</b></span>
					</label>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body bg-white">
					<form>
						<div class="container border">
							<div class="row justify-content-center pt-3">
								<div>
									<img class="img-fluid imageReview rounded-circle" src="../etc/images/user/marvee.jpg"></img>
								</div>
							</div>
							<div class="row justify-content-center pt-2">
								<label>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
								</label>
							</div>
							<div class="row justify-content-center">
								<label><?=$rate;?></label>
							</div>
							<div class="row pt-3">
								<div class="container">
									<blockquote class="blockquote lead">
										  <p>Maayo kaayo ni siya mo dala, tapulan lang gud kaayo. Pero pang Wife material gud ni siya.</p>
										  <footer class="blockquote-footer text-right"><?=$reviewer;?></footer>
									</blockquote>
								</div>
							</div>
						</div>

					</form>
				</div>
				<div class="modal-footer bg-light">
					<div class="container-fluid pt-3">
						<nav>
							<ul class="pagination justify-content-center" id="paginationFooter">
								<li class="page-item disabled">
									<a class="page-link">
										<span>&laquo;</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link">
										<span>1</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link">
										<span>2</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link">
										<span>3</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link">
										<span>&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="text-white">Close</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of reviews and rating -->


	<!-- start of jobDone form -->
	<div class="modal fade" id="COE">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-white">
				<div class="modal-header bg-light">
					<label class="modal-title centerModalTitle">
						<span class="lead"><b>Your Employment records</b></span>
					</label>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body bg-white">
					<div class="table-responsive mt-1">
			      		<table class="table table-striped">
			      			<thead class="skyblue text-white">
			      				<tr>
			      					<th>Image</th>
			      					<th>Service Seeker Name</th>
			      					<th>Job Title</th>
			      					<th>Start Date</th>
			      					<th>End Date</th>
			      					<th class="text-center">Action</th>
			      				</tr>
			      			</thead>
			      			<tbody>
			      				<tr>
			      					<td>
			      						<img class="img-fluid tableImage" src="../etc/images/user/marvee.jpg">
			      					</td>
			      					<td>
			      						Gemma Prialde
			      					</td>
			      					<td>
			      						Carpenter
			      					</td>
			      					<td>
			      						February 6, 2018
			      					</td>
			      					<td>
			      						March 6, 2018
			      					</td>
			      					<td>
			  							<div class="container">
			  								<div class="col-6">
			  									<button class="btn btn-warning">Request for a COE</button>
			  								</div>
			  							</div>
			      					</td>
			      				</tr>
			      			</tbody>
			      		</table>
			      	</div>
				</div>

				<div class="modal-footer bg-light">
					<button type="submit" class="btn btn-success"><span class="text-white">Submit</span></button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="text-white">Close</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of jobDone form -->

	<!-- start of dispute form -->
	<div class="modal fade" id="myJobs">
		<form>
			<div class="modal-dialog modal-lg">
				<div class="modal-content bg-white">
					<div class="modal-header bg-light">
						<label class="modal-title centerModalTitle">
							<span class="lead">
								<b class="pl-4">Your Job</b>
							</span>
						</label>
						<button class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>	
					<div class="modal-body">
						<div class="table-responsive mt-1">
				      		<table class="table table-striped">
				      			<thead class="skyblue text-white">
				      				<tr>
				      					<th>Image</th>
				      					<th>Service Seeker Name</th>
				      					<th>Job Title</th>
				      					<th>Start Date</th>
				      					<th>End Date</th>
				      					<th>Status</th>
				      				</tr>
				      			</thead>
				      			<tbody>
				      				<tr>
				      					<td>
				      						<img class="img-fluid tableImage" src="../etc/images/user/marvee.jpg">
				      					</td>
				      					<td>
				      						Gemma Prialde
				      					</td>
				      					<td>
				      						Carpenter
				      					</td>
				      					<td>
				      						February 6, 2018
				      					</td>
				      					<td>
				      						March 6, 2018
				      					</td>
				      					<td>
				  							<span class="text-success">Done</span>
				      					</td>
				      				</tr>
				      			</tbody>
				      		</table>
				      	</div>
					</div>

					<div class="modal-footer bg-light">
						<button class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- end of dispute form -->


<!-- start of add personal details -->
	<div class="modal fade" id="personalDetails">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-white">
				<div class="modal-header bg-light">
					<label class="modal-title centerModalTitle">
						<span class="lead"><b>Personal Details</b></span>
					</label>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body bg-white">
					<div class="alert alert-danger text-center hidethis" id="personalDetailsModalError">
					</div>
					<form id="passerDetailsForm" enctype="multipart/form-data">
						<div class="container">
							<div class="row">
								<div class="col-sm-3">
									<div class="d-flex justify-content-center">
										<img src="<?=!empty($PasserProfile)?$PasserProfile: '../../public/etc/images/system/calendar.png'?>" class="modalAddDetails" id="previewImage">
									</div>
								</div>
								<div class="offset-1 col-sm-4 pt-3" id="uploadPhotoDiv">
									<button type="button" class="btn btn-primary" id="substituteButton">Upload Photo</button>
									<input class="form-control d-none inputImage" name="profileUploadPasser" type="file" id="addDetailsPasser" accept="image/jpeg,image/png">
								</div>
							</div>

							<div class="row pt-3">
								<div class="col-md-6 offset-md-0 col-lg-4 offset-lg-4">
									<div class="form-group">
							        	<label for="firstname">Name</label>
							        	<input type="text" readonly disabled class="form-control" value="<?=$PasserFN;?>" id="firstname" placeholder="Firstname">
								    </div>
								</div>
								<div class="col-md-6 offset-md-0 col-lg-4 sameLabelMargin">
									<div class="form-group">
									   <input type="text" readonly disabled class="form-control" value="<?=$PasserLN;?>" placeholder="Lastname">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md offset-md-0 col-lg offset-lg-4">
									<div class="form-group">
									    <label for="email">Email</label>
									    <input type="text" class="form-control" readonly disabled value="<?php echo isset($PasserEmail)? $PasserEmail: ''; ?>" id="email" placeholder="Email">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md offset-md-0 col-lg offset-lg-4">
									<div class="form-group">
									    <label for="address">Address</label>
									    <input type="text" required class="form-control" value="<?php echo isset($PasserAddress)? $PasserAddress: ''; ?>" name="passerAddress" id="email" placeholder="Region/Province/State">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 offset-md-0 col-lg-4 offset-lg-4">
									<div class="form-group">
									   <input type="text" required value="<?php echo isset($PasserStreet)? $PasserStreet: ''; ?>" class="form-control" name="passerStreet" placeholder="Street Address">
									</div>
								</div>
								<div class="col-md-6 offset-md-0 col-lg-4">
									<div class="form-group">
									   <input list="cities" required class="form-control" value="<?php echo isset($PasserCity)? $PasserCity: ''; ?>" name="passerCity" placeholder="City">
								   		<datalist id="cities"> 
								      	 <option value="Alaminos">
								         <option value="Angeles">
								         <option value="Antipolo">
								         <option value="Bacolod">
								         <option value="Bacoor">
								         <option value="Bago">
								         <option value="Baguio">
								         <option value="Bais">
								         <option value="Balanga">
								         <option value="Batac">
								         <option value="Batangas City">
								         <option value="Bayawan">
								         <option value="Baybay">
								         <option value="Bayugan">
								         <option value="Biñan">
								         <option value="Bislig">
								         <option value="Bogo">
								         <option value="Borongan">
								         <option value="Butuan">
								         <option value="Cabadbaran">
								         <option value="Cabanatuan">
								         <option value="Cabuyao">
								         <option value="Cadiz">
								         <option value="Cagayan de Oro">
								         <option value="Calamba">
								         <option value="Calapan">
								         <option value="Calbayog">
								         <option value="Caloocan">
								         <option value="Candon">
								         <option value="Canlaon">
								         <option value="Carcar">
								         <option value="Catbalogan">
								         <option value="Cauayan">
								         <option value="Cavite City">
								         <option value="Cebu City">
								         <option value="Cotabato City">
								         <option value="Dagupan">
								         <option value="Danao">
								         <option value="Dapitan">
								         <option value="Dasmariñas">
								         <option value="Davao City">
								         <option value="Digos">
								         <option value="Dipolog">
								         <option value="Dumaguete">
								         <option value="El Salvador">
								         <option value="Escalante">
								         <option value="Gapan">
								         <option value="General Santos">
								         <option value="General Trias">
								         <option value="Gingoog">
								         <option value="Guihulngan">
								         <option value="Himamaylan">
								         <option value="Ilagan">
								         <option value="Iligan">
								         <option value="Iloilo City">
								         <option value="Imus">
								         <option value="Iriga">
								         <option value="Isabela">
								         <option value="Kabankalan">
								         <option value="Kidapawan">
								         <option value="Koronadal">
								         <option value="La Carlota">
								         <option value="Lamitan">
								         <option value="Laoag">
								         <option value="Lapu-Lapu">
								         <option value="Las Piñas">
								         <option value="Legazpi">
								         <option value="Ligao">
								         <option value="Lipa">
								         <option value="Lucena">
								         <option value="Maasin">
								         <option value="Mabalacat">
								         <option value="Makati">
								         <option value="Malabon">
								         <option value="Malaybalay">
								         <option value="Malolos">
								         <option value="Mandaluyong">
								         <option value="Mandaue">
								         <option value="Manila">
								         <option value="Marawi">
								         <option value="Marikina">
								         <option value="Masbate City">
								         <option value="Mati">
								         <option value="Meycauayan">
								         <option value="Muñoz">
								         <option value="Muntinlupa">
								         <option value="Naga">
								         <option value="Navotas">
								         <option value="Olangapo">
								         <option value="Ormoc">
								         <option value="Oroquieta">
								         <option value="Oramiz">
								         <option value="Pagadian">
								         <option value="Palayan">
								         <option value="Panabo">
								         <option value="Parañaque">
								         <option value="Pasay">
								         <option value="Pasig">
								         <option value="Passi">
								         <option value="Puerto Princesa">
								         <option value="Quezon City">
								         <option value="Roxas">
								         <option value="Sagay">
								         <option value="Samal">
								         <option value="San Carlos">
								         <option value="San Carlos">
								         <option value="San Fernando">
								         <option value="San Fernando">
								         <option value="San Jose">
								         <option value="San Jose del Monte">
								         <option value="San Juan">
								         <option value="San Pablo">
								         <option value="San Pedro">
								         <option value="Santa Rosa">
								         <option value="Santiago">
								         <option value="Silay">
								         <option value="Sipalay">
								         <option value="Sorsogon City">
								         <option value="Surigao City">
								         <option value="Tabaco">
								         <option value="Tabuk">
								         <option value="Tacloban">
								         <option value="Tacurong">
								         <option value="Tagaytay">
								         <option value="Tagbilaran">
								         <option value="Taguig">
								         <option value="Tagum">
								         <option value="Talisay">
								         <option value="Talisay">
								         <option value="Tanauan">
								         <option value="Tandag">
								         <option value="Tangub">
								         <option value="Tanjay">
								         <option value="Tarlac City">
								         <option value="Tayabas">
								         <option value="Toledo">
								         <option value="Trece Martires">
								         <option value="Tuguegarao">
								         <option value="Urdaneta">
								         <option value="Valencia">
								         <option value="Valenzuela">
								         <option value="Victorias">
								         <option value="Vigan">
								         <option value="Zamboanga City">        
										</datalist>
									</div>
								</div>
								</div>

							<div class="row">
								<div class="col-md-6 offset-md-0 col-lg offset-lg-4">
									<div class="form-group">
									    <label for="birthday">Birthday</label>
									    <input type="text" name="passerBirthdate" value="<?php echo isset($PasserBirthdate)? $PasserBirthdate: ''; ?>" class="form-control datepicker" disabled placeholder="Month/Date/Year">
									</div>
								</div>
								<div class="col-md-6 offset-md-0 col-lg">
									<div class="form-group">
										<label for="gender">Gender</label>
										<select name="passerGender" id="gender" class="custom-select" <?php echo !empty($PasserGender)? "disabled readonly": ""; ?> >
										  <option value="notSelected" <?php echo !isset($PasserGender)? "selected": ''; ?>>I am</option>
										  <option value="Male" <?php echo ($PasserGender == "Male")? "selected": ''; ?>>Male</option>
										  <option value="Female" <?php echo ($PasserGender == "Female")? "selected": ''; ?>>Female</option>
										</select>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 offset-md-0 col-lg-8 offset-lg-4">
									<label for="number">Mobile Number</label>
									<div class="input-group mb-2">
								        <div class="input-group-prepend">
								          <div class="input-group-text">+63</div>
								        </div>
								        <input type="text" class="form-control" name="PasserCPNo" id="passerNumber"  maxlength="10" placeholder="Mobile Number" value="<?php echo isset($PasserCPNo)? $PasserCPNo: ''; ?>">
							        </div>	
						        </div>
							</div>

						</div>
					
					</div>
					<div class="modal-footer bg-light">
						<button type="submit" name="passerUpdateData" class="btn btn-success"><span class="text-white">Submit</span></button>
						<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="text-white">Close</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- end of add personal details -->

	<!-- start of add for verified -->
	<div class="modal fade" id="verified">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-white">
				<div class="modal-header bg-light">
					<label class="modal-title centerModalTitle">
						<span class="lead"><b>Personal Details</b></span>
					</label>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body bg-white">
					<form>
						<div class="container">
							<div class="row">
								<div class="col-sm-3">
									<div class="d-flex justify-content-center">
										<img src="../../public/etc/images/system/tesda.png" class="modalAddDetails">
									</div>
								</div>
								<div class="offset-1 col-sm-4 pt-3" id="uploadPhotoDiv">
									<button type="button" class="btn btn-primary" id="qsubstituteButton">Upload Photo</button>
									<input class="form-control d-none" type="file" id="qaddDetailsPasser" accept="image/x-png,image/gif,image/jpeg">
								</div>
							</div>

							<div class="row">
								<div class="col-md offset-md-0 col-lg offset-lg-4">
									<div class="form-group">
									    <label for="certificateNum">Certificate Number</label>
									    <input type="number" class="form-control" disabled name="certificateNum" id="certificateNum" placeholder="1234567889">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3">
									<div class="d-flex justify-content-center">
										<h5>Quick Tips:</h5>
									</div>
								</div>
								<div class="col-md offset-md-0 col-lg offset-lg-1">
									<div class="form-group">
									    <label for="typeCertificate">Type of Certificate</label>
										<select name="typeCertificate" id="typeCertificate" class="custom-select">
										  <option selected>COC</option>
										  <option value="Male">NC</option>
										</select>
									</div>
								</div>
							</div>

						
							<div class="row">
								<div class="col-md offset-md-0 col-lg offset-lg-4">
									<div class="form-group">
									    <label for="qualificationTitle">Qualification Title</label>
										<select name="qualificationTitle" id="qualificationTitle" class="custom-select">
										  <option selected>Carpenter</option>
										  <option value="Male">Florist</option>
										</select>
									</div>
								</div>
							</div>
							

							<div class="row">
								<div class="col-md-6 offset-md-0 col-lg offset-lg-4">
									<div class="form-group">
									   <label for="expirationCOC">Expiration Date</label>
									    <input type="text" class="form-control datepicker" disabled name="expirationCOC" id="expirationCOC" placeholder="Month/Date/Year">
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer bg-light">
					<button type="submit" class="btn btn-primary"><span class="text-white">Next</span></button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="text-white">Close</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end for verified -->

	<!-- Start of Add Job Experience Modal -->
	<div class="modal fade " id="jobExperience" role="dialog ">
 		<div class="modal-dialog modal-dialog-centered rounded" role="document" >
 			<div class="modal-content">
 				<div class="modal-header ">		          	
		          	<h5 class="modal-title ">Work Experience</h5>
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>	

		        <div class="modal-body bg-light ">
		        	<div class="alert alert-danger text-center hidethis" id="jobExperienceModalError">
					</div>
					<form id="jobExperienceModal">
			        	<div class="row ">
			        		<div class="col-sm-12 mb-1">
			          			<h5 class="modal-title ">Job title</h5>
			          		</div>
			          		<div class="col-sm-12 text-center mb-4">
			          			<input type="text" required name="jTitle" class="form-control" placeholder="Your job title here">
			          		</div>

			          		<div class="col-sm-12 mb-1">
			          			<h5 class="modal-title ">Company</h5>
			          		</div>
			          		<div class="col-sm-12 text-center mb-4">
			          			<input type="text" required name="company" class="form-control" placeholder="The company you worked with">
			          		</div>	

			          		<div class="col-sm-12 mb-1">
			          			<h5 class="modal-title ">Description <small class="text-secondary">(optional)</small></h5>
			          		</div>
			          		<div class="col-sm-12 text-center mb-4">
			          			<textarea name="passerWorkDesc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			          		</div>

			          		<div class="col-sm-6">
			          			<h5 class="modal-title ">From</h5>
			          		</div>	
			          		<div class="col-sm-6">
			          			<h5 class="modal-title ">To</h5>
			          		</div>	

	       					<div class="col-sm-6">	
	                            <input type='text' required disabled readonly id='start_datetime_picker' name="startDate" class="form-control date" placeholder="Start Date" />
			          		</div>	

							<script type="text/javascript">
							    $(document).ready(function() {
							    $('#start_datetime_picker').datepicker().on(
							        'show',
							        function() {
							            var modal = $('#start_datetime_picker').closest('.modal');
							            var datePicker = $('body').find('.datepicker');
							            if (!modal.length) {
							                $(datePicker).css('z-index', 'auto');
							                return;
							            }
							            var zIndexModal = $(modal).css('z-index');
							            $(datePicker).css('z-index', zIndexModal + 999).css("position", "relative");
								        }
								    );
								});

								$(document).ready(function() {
							    $('#end_datetime_picker').datepicker().on(
							        'show',
							        function() {
							            var modal = $('#end_datetime_picker').closest('.modal');
							            var datePicker = $('body').find('.datepicker');
							            if (!modal.length) {
							                $(datePicker).css('z-index', 'auto');
							                return;
							            }
							            var zIndexModal = $(modal).css('z-index');
							            $(datePicker).css('z-index', zIndexModal + 999).css("position", "relative");
								        }
								    );
								});

								
			       			</script> 

			          		<div class="col-sm-6">	
	                            <input type='text' required disabled readonly id='end_datetime_picker' name="endDate" class="form-control date" placeholder="End Date" />
			          		</div>	

			        	</div>	         	
		        </div>
		        <div class="modal-footer border">		
		        	<div class="row col justify-content-center mx-0" >		        		
		        		<div class="col-sm-4">
		        			<button type="submit" name="passerJobExperienceData" class="form-control btn btn-success">Save</button>
		        		</div>
		        	</form>	 
		        		<div class="col-sm-4">
		        			<button type="button" class="form-control btn btn-secondary" data-dismiss="modal">Cancel</button>
		        		</div>
		        	</div>     				
		        </div>
 			</div>
 		</div>
 	</div>
	<!-- End of Add Job Experience Modal -->

	<!-- Start of Add Education Modal -->
	<div class="modal fade " id="education" role="dialog ">
 		<div class="modal-dialog modal-dialog-centered rounded" role="document" >
 			<div class="modal-content">
 				<div class="modal-header ">		          	
		          	<h5 class="modal-title ">Education</h5>
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>	

		        <form id="educationModal">
			        <div class="modal-body bg-light ">
			        	<div class="alert alert-danger text-center hidethis" id="educationModalError">
						</div>
				        	<div class="row">
				        		<div class="col-sm-12 mb-1">
				          			<h5 class="modal-title ">Educational Attainment</h5>
				          		</div>
				          		<div class="col-sm-12 text-center mb-4">
				          			<select name="educationalLevel" class="form-control">
								        <option>Educational Level</option>						        
								        <option value="College">College</option>
								        <option value="HighSchool">HighSchool</option>
								        <option value="Elementary">Elementary</option>
								        <option value="Kindergarten">Kindergarten</option>
								        <option value="Nursery">Nursery</option>
								    </select>
				          		</div>

				          		<div class="col-sm-12 mb-1">
				          			<h5 class="modal-title ">School/University</h5>
				          		</div>
				          		<div class="col-sm-12 text-center mb-4">
				          			<input type="text" name="school" class="form-control" placeholder="School/University last attended">
				          		</div>	

				          		<div class="col-sm-12 mb-1">
				          			<h5 class="modal-title ">Accomplishments or descriptions(optional)</h5>
				          		</div>
				          		<div class="col-sm-12 text-center mb-4">
				          			<textarea name="passerDesc" class="form-control" rows="5" id="dsecription" placeholder="Valedictorian, Honorable Mentions, etc."></textarea>
				          		</div>	
				        	</div>	          	
				    </div>
			        <div class="modal-footer border">		
		        	<div class="row col justify-content-center mx-0" >		        		
		        		<div class="col-sm-4">
		        			<button type="submit" class="form-control btn btn-success">Save</button>
		        		</div>
		        </form>		
		        		<div class="col-sm-4">
		        			<button type="button" class="form-control btn btn-secondary" data-dismiss="modal">Cancel</button>
		        		</div>
		        	</div>     				
		        </div>
 			</div>
 		</div>
 	</div>
	<!-- End of Add Education Modal -->