 <div class="modal fade" id="offer" tabindex="-1" role="dialog" aria-labelledby="offer" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Your JO Form</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <small class="font-weight-bold mb-1 text-primary" style="font-size:13px">Note: This will be sent to your choosen Passer.</small>
                        <div class="row">
                            <div class="col-md-12 text-white" style="background:#84b3ff;">
                                <form class="">
                                    <div class="form-group row col-md-12 mt-2">
                                      <label for="jobTitle" class="font-weight-bold">Job Title</label>
                                      <input type="text" class="form-control shadow" id="jobTitle" value="Carpenter"  disabled>
                                    </div>
                                    <div class="form-group row col-md-12 mt-2">
                                      <label for="jobTitle" class="font-weight-bold">Working Address</label>
                                      <input type="text" class="form-control shadow " id="jobTitle" value="Carpenter" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 mt-2">
                                          <label for="jobTitle" class="font-weight-bold"> Start Date</label>
                                          <input type="date" class="form-control shadow " id="jobTitle" value="Carpenter" disabled>
                                         </div>
                                        <div class="form-group col-md-6 mt-2">
                                          <label for="jobTitle" class="font-weight-bold"> End Date</label>
                                          <input type="date" class="form-control shadow " id="jobTitle" value="Carpenter" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 mt-2">
                                          <label for="jobTitle" class="font-weight-bold"> Salary</label>
                                             <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <span>&#8369;</span>
                                                </span>
                                              </div>
                                              <input type="text" class="form-control "  aria-describedby="basic-addon1" disabled>
                                            </div>
                                         </div>
                                        <div class="form-group col-md-6 mt-2">
                                          <label for="jobTitle" class="font-weight-bold"> Payment Method
                                          </label>
                                          <select class="custom-select mr-sm-2" id="paymentMethod" disabled>
                                            <option selected value="Online">Online</option>
                                            <option value="Offline">Offline</option>
                                          </select>
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-12 mt-2">
                                      <label for="jobTitle" class="font-weight-bold">Accomodation Type</label>
                                      <select class="custom-select" id="inlineFormCustomSelect" disabled>
                                            <option selected value="In-House">In-House</option>
                                            <option value="Offsite">Offsite</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                      </div>
                      <div class="modal-footer">
                        <div class="col">
                          <a href="" class="text-left"><h6><u>Change your Job Form</u></h6></a>
                        </div>
                        <button type="button" class="btn btn-success font-weight-bold" data-dismiss="modal" onclick="toastr.success('You have successfully offered a Job');">Offer a Job</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>