 <div class="modal fade" id="offer" tabindex="-1" role="dialog" aria-labelledby="offer" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Your JO Form</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <small class="font-weight-bold mb-1 text-primary" style="font-size:13px">Note: The job offer form listed here is the default job offer form. If you want to change your job offer form, click Change your Job Form below</small>
                        <div class="row">
                            <div class="col-md-12 text-white" style="background:#84b3ff;">
                                <form>
                                    <div class="form-group row col-md-12 mt-2">
                                      <label for="jobTitle" class="font-weight-bold">Working Address</label>
                                      <input type="text" class="form-control shadow workingAddress" readonly disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 mt-2">
                                          <label for="jobTitle" class="font-weight-bold"> Start Date</label>
                                          <input type="text" class="form-control shadow startDate" readonly disabled>
                                         </div>
                                        <div class="form-group col-md-6 mt-2">
                                          <label for="jobTitle" class="font-weight-bold"> Expected End Date</label>
                                          <input type="text" class="form-control shadow endDate" readonly disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 mt-2">
                                          <label for="jobTitle" class="font-weight-bold"> Salary</label>
                                             <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <span>&#8369;</span>
                                                </span>
                                              </div>
                                              <input type="text" class="form-control salary" aria-describedby="basic-addon1" readonly disabled>
                                            </div>
                                         </div>
                                        <div class="form-group col-md-6 mt-2">
                                          <label for="jobTitle" class="font-weight-bold"> Payment Method
                                          </label>
                                          <input type="text" class="form-control paymentMethod" aria-describedby="basic-addon1" readonly disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-12 mt-2">
                                      <label for="jobTitle" class="font-weight-bold">Accomodation Type</label>
                                      <input type="text" class="form-control accommodationType" aria-describedby="basic-addon1" readonly disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="notesJobOffer">Notes</label>
                                        <textarea class="form-control rounded-0 font-weight-bold" id="notesJobOffer" rows="3" style="font-size:13px"></textarea>
                                    </div>
                                </form>
                            </div>
                      </div>
                      <div class="modal-footer">
                        <div class="col">
                          <a href="../seeker/joboffer" class="text-left"><h6><u>Change your Job Form</u></h6></a>
                        </div>
                        <button type="submit" class="btn btn-success font-weight-bold offerJobSend">Offer a Job</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>