<!-- project1Modal --> 

<div class="modal fade " id="project1" role="dialog ">
	<div class="modal-dialog modal-dialog-centered rounded modal-md" role="document" >
		<div class="modal-content">
			<div class="modal-header ">		          	
	          	<label class="modal-title centerModalTitle">(Project TITLE sa Passer)</label>
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>	
        <form id="verifyPasser" enctype="multipart/form-data">
	        <div class="modal-body bg-light ">
	        	<div class="alert alert-danger text-center hidethis" id="verifyError">
				</div>
        		<div class="container ">		        			
				<!-- 	<div class="row pt-3">						
						<div class="col-4 skyblue text-white">
							<h5>Location</h5>
						</div>
						<div class="col-8">
							<label>Unit II Oprra</label>
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-4">
							<h5>Price</h5>
						</div>
						<div class="col-8">
							<label>Unit II Oprra</label>
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-4">
							<h5>Date Started</h5>
						</div>
						<div class="col-8">
							<label>November 16, 2017</label>
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-4">
							<h5>Date Ended</h5>
						</div>
						<div class="col-8">
							<label>November 16, 2018</label>
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-4">
							<h5>Work Days</h5>
						</div>
						<div class="col-8">
							<label>365 Days</label>
						</div>
					</div> -->
					 <div class="table-responsive mt-1">
				      		<table class="table table-striped">
				      			<thead >
						            <tr>
						                <th class="skyblue text-white" >Location</th>
						                <td>Unit II Oprra</td>
						            </tr>
						        </thead>
						        <tbody>
						            <tr>
						                <th class="skyblue text-white" >Price</th>
						                <td>20,000</td>
						            </tr>
						            <tr>
						                <th class="skyblue text-white" >Started Date</th>
						                <td>November 18, 2017</td>
						            </tr>
						            <tr>
						                <th class="skyblue text-white" >Ended Date</th>
						                <td>November 18, 2018</td>
						            </tr>
						            <tr>
						                <th class="skyblue text-white" >Work Days</th>
						                <td>365 days</td>
						            </tr>
						        </tbody>
						    </table>
						</div>
        		</div>       	
	        </div>
		</form>
		</div>
	</div>
</div>
<!-- end of project1Modal