html,
body{
  margin:0!important;
  padding:0!important;
}

/*NOTIFICATIONS*/

.notification-message {   
    position: absolute;
    top: -3px;
    right: 39px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}
.notification-bell {   
    position: absolute;
    top: -3px;
    right: 40px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}
.scroll{
  height:150px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scroll1{
    height:500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }





.centerModalTitle{
  margin-left: auto;
}

.green{
  color: #009688;
}

/*Navbar*/
.header-image{
	width: 250px;
	margin-left: 125px
}


nav a{
	font-family: 'Varela Round', sans-serif;
  text-decoration: none!important;
}

a{
  text-decoration: none!important;
}

@media only screen and (min-width: 768px){

    ul>li>a:hover:after{
      width: 100%;
    }

    ul>li>a:hover{
      background: transparent;
      color: #6195FF;
    }

    ul>li>a.active > a::after {
    width: 100%;
    }

    ul>li>a:after {
      content: "";
      display: block;
      background-color: #6195FF;
      height: 2px;
      width: 0%;
      -webkit-transition: 0.2s width;
      transition: 0.2s width;
    }
}


@media screen and (max-width: 990px) /* Mobile laptop*/ {
  .header-image {
   margin-left: 50px;
  }

  nav[role=navigation] li.pr-5{
  	padding-right: 2em !important;
  }

  nav[role=navigationWorks] li.pr-5, #navigationWorks{
    font-size: 11px!important;
  }

  #myQuickLinks{
    height: 250px!important;
  }

}

@media screen and (max-width: 767px) /* Mobile xl*/ {
   ul.nav:first-child li.pr-5{
    padding-right: 0em!important;
    }

    #shortInfo{
    height: 400px!important;
  }

  nav[role=navigationWorks] li.pr-5, #navigationWorks{
    font-size: 1rem!important;
  }

  #navWorks{
  height: 125px!important;
  }

  #myQuickLinks{
    height: 350px!important;
  }

}

@media screen and (max-width: 500px) /* Mobile lg*/ {
  .header-image {
    margin-left: 40px;
  }

  #shortInfo{
    height: 450px!important;
  }

  #myQuickLinks{
    height: 400px!important;
  }
  
}

@media screen and (max-width: 375px) /* Mobile md*/ {
  .header-image {
    margin-left: 10px;
  }

  #shortInfo{
    height: 400px!important;
  }

  #myQuickLinks{
    height: 400px!important;
  }

}

@media screen and (max-width: 330px) /* Mobile sm*/ {
  .header-image {
  	width: 200px;
    margin-left: 8px;
  }

  #shortInfo{
    height: 450px!important;
  }

  #myQuickLinks{
    height: 400px!important;
  }

}

/*End of navbar*/

/*footer*/

.footer{
  position:relative;
	bottom: 0;
	width: 100%;
	height: auto;
  overflow:hidden; 
}

.footer-color{
	background-color: #3D464D;
}

.footer-size{
	padding: 45px 0;
}

.footer-image{
	width: 125px;
	height: 80px;
}

/*end of footer*/

/*seeker dashboard*/

label#ashGray {
  font-size: 25px;
}
nav[role=navigationWorks] button.navbar-toggler{
  width: 100%;
  float: none;
  margin-right: 0;
}

label[data-toggle=modal]{
  cursor: pointer;
}

span[data-toggle=modal]{
  cursor: pointer;
}

.seekerProfile{
  height: 200px;
  width: 200px;
  margin-top: 30px;
}

#shortInfo{
  height: 260px;
}


#navWorks{
  height: 50px;
}

#myQuickLinks{
  height: 250px;
}


.sameLabelMargin{
  margin-top: 2rem!important;
}

.modalAddDetails{
  width:100px;
  height: 100px;
}


.ashGray{
  color:#757e8c!important;
}

.blue{
  color:blue!important;
}

.calibri{
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif!important;
}

.disabledColor{
  background-color: #E9ECEF!important;
}

.shadowDiv{
  box-shadow: 2px 2px 4px grey;
}

.skyblue{
  background-color: #94B5F7;
}

.tableImage{
  width: 70px;
  height: 50px;
}

/*end of seeker dashboard*/


/*modal*/
/*seeker modal*/

div.modal-footer{
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#paginationFooter{
  margin-left:65px;
}

.imageReview{
  width: 200px;
  height: 200px;
}

/*end of seeker modal*/
/*end of modal*/



/*passer*/
/*dashboard*/
.textDecorationNone:hover{
  text-decoration: none;
}

.dashedBorder {
    border-bottom-style: dotted;
    border-width: 2px;
}

.dropdown-item.active, .dropdown-item:active{
  color: black;
  text-decoration: none;
  background-color: white;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: auto;
}

.scrollable-content {
    height: auto;
    max-height: 600px;
    overflow-x: auto;
}

div.container label.profileTitle{
  font-size: 2rem;
}

/*end of dashboard*/

/*register*/
#username{
  display: none;
}
/*end of register*/



/*all*/
.georgiaFonts{
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 27px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.hidethis{
  display: none;
}

.trebuchet{
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

div#moreOptionSearches{
  display: none;
}

div#sidebar{
  height: 100%;
  left: 0;
  top: 0;
  bottom: 45px;
  overflow:hidden;
}

.profile{
  width: 150px;
  height: 150px;
  border: 1px solid #576275;
  border-radius: 50%;
}

.messageSidebarImage{
  width: 80px;
  height: 35px;
  border-radius: 50%;
}

.customTextSignup{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2;
}

.customSecondaryTextSignup{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
}

.otherText{
  font-size: 23px;
}

.terms{
  font-size: 15px;
}

.cursor{
  cursor: pointer;
}

.loading{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../../public/etc/images/system/loading.gif) center #fff no-repeat;
}

.centerDisplayText{
  width: 90px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 45px);
  text-align: center;
}

.rightRadius{
  border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

#tesdaLogoSignup{
  width: 150px;
  height: 150px;
}


/*end of all*/

/*end of passer*/