html,
body{
  margin:0!important;
  padding:0!important;
}

.centerModalTitle{
  margin-left: auto;
}

/*Navbar*/
.header-image{
	width: 250px;
	margin-left: 125px
}

nav a{
	font-family: 'Varela Round', sans-serif;
  text-decoration: none!important;
}

a{
  text-decoration: none!important;
}


@media screen and (max-width: 990px) /* Mobile laptop*/ {
  .header-image {
   margin-left: 50px;
  }

  nav[role=navigation] li.pr-5{
  	padding-right: 2em !important;
  }

  nav[role=navigationWorks] li.pr-5, #navigationWorks{
    font-size: 11px!important;
  }

  #myQuickLinks{
    height: 250px!important;
  }

}

@media screen and (max-width: 767px) /* Mobile xl*/ {
   ul.nav:first-child li.pr-5{
    padding-right: 0em!important;
    }

    #shortInfo{
    height: 400px!important;
  }

  nav[role=navigationWorks] li.pr-5, #navigationWorks{
    font-size: 1rem!important;
  }

  #navWorks{
  height: 125px!important;
  }

  #myQuickLinks{
    height: 350px!important;
  }

}

@media screen and (max-width: 500px) /* Mobile lg*/ {
  .header-image {
    margin-left: 40px;
  }

  #shortInfo{
    height: 450px!important;
  }

  #myQuickLinks{
    height: 400px!important;
  }
  
}

@media screen and (max-width: 375px) /* Mobile md*/ {
  .header-image {
    margin-left: 10px;
  }

  #shortInfo{
    height: 400px!important;
  }

  #myQuickLinks{
    height: 400px!important;
  }

}

@media screen and (max-width: 330px) /* Mobile sm*/ {
  .header-image {
  	width: 200px;
    margin-left: 8px;
  }

  #shortInfo{
    height: 450px!important;
  }

  #myQuickLinks{
    height: 400px!important;
  }

}

/*End of navbar*/

/*footer*/
footer{
  bottom: 0;
}

.footer{
  position:relative;
	bottom: 0;
	width: 100%;
	height: auto;
  overflow:hidden; 
}

.footer-color{
	background-color: #3D464D;
}

.footer-size{
	padding: 45px 0;
}

.footer-image{
	width: 125px;
	height: 80px;
}

/*end of footer*/

/*seeker dashboard*/

label#ashGray {
  font-size: 25px;
}
nav[role=navigationWorks] button.navbar-toggler{
  width: 100%;
  float: none;
  margin-right: 0;
}

label[data-toggle=modal]{
  cursor: pointer;
}

.seekerProfile{
  width: 100px;
  padding-top: 30px;
}

#shortInfo{
  height: 260px;
}


#navWorks{
  height: 50px;
}

#myQuickLinks{
  height: 200px;
}

.ashGray{
  color:#757e8c!important;
}

.blue{
  color:blue!important;
}

.calibri{
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif!important;
}

.shadowDiv{
  box-shadow: 2px 2px 4px grey;
}

.skyblue{
  background-color: #94B5F7;
}

.tableImage{
  width: 70px;
  height: 50px;
}

/*end of seeker dashboard*/


/*modal*/
/*seeker modal*/

div.modal-footer{
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#paginationFooter{
  margin-left:65px;
}

.imageReview{
  width: 200px;
  height: 200px;
}

/*end of seeker modal*/
/*end of modal*/