<!-- Start of Forgot Password Modal (LOGIN)-->
 	<div class="modal fade " id="forgotPassModal" role="dialog ">
 		<div class="modal-dialog modal-dialog-centered rounded" role="document" >
 			<div class="modal-content">
 				<div class="modal-header px-5 col-sm-12">		          	
		          	<h5 class="centerModalTitle">Forgot your password?</h5>
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>	

		        <div class="modal-body bg-light px-5">
		        	<div class="row">
		        		<div class="col-sm-12 text-center mb-4">
		          			<strong>Don't worry! Type your email or mobile number below and we'll help you reset it </strong>
		          		</div>
		          		<div class="col-sm-12 mb-2">
		          			<input type="email" name="email" placeholder="me@example.com" class="form-control">
		          		</div>
		          		<div class="col-sm-12 mb-2">
							<div class="row text-center">
								<div class="col-sm-5"><hr></div>
								<div class="col-sm-2"><strong>or</strong></div>
								<div class="col-sm-5"><hr></div>
							</div>
						</div>
						<div class="col-sm-12 mb-3">												
							<div class="input-group mb-2">
						        <div class="input-group-prepend">
						          <div class="input-group-text bg-white">+63</div>
						        </div>
						        <input type="text" class="form-control bg-light" id="passerNumber"  maxlength="10" placeholder="Mobile Number">
					        </div>	
						</div>
						<div class=" col-sm-12 mb-4">
							<input type="submit" class="col btn btn-primary btn-block" data-toggle="modal" data-target="#emailSent" data-dismiss="modal" name="submit" value="Reset my password">
						</div>
		        	</div>		          	
		        </div>
 			</div>
 		</div>
 	</div>
 	
 	<!-- 2nd Modal -->
 	<div class="modal fade " id="emailSent" role="dialog ">
 		<div class="modal-dialog modal-dialog-centered rounded" role="document" >
 			<div class="modal-content">
 				<div class="modal-header px-5">		          	
		          	<h5 class="modal-title centerModalTitle">Forgot your password?</h5>
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>	

		        <div class="modal-body bg-light px-5">
		        	<div class="row">
		        		<div class="col-sm-12 text-center mb-4">
		          			<h2>Email Sent</h2>
		          		</div>
		          		<div class="col-sm-12 text-center mb-4">
		          			<h5>Check your email in 2-3 minutes</h5>
		          		</div>
		          		<div class="col-sm-12 text-center mb-4">
		          			<h6>Follow the instructions to complete the process</h6>
		          		</div>
		        	</div>		          	
		        </div>
 			</div>
 		</div>
 	</div>
	<!-- End of Forgot Password Modal (LOGIN) -->
