<div class="modal fade " id="addCompany" role="dialog ">
 		<div class="modal-dialog modal-dialog-centered rounded" role="document" >
 			<div class="modal-content">
 				<div class="modal-header">		          	
		          	<h5 class="modal-title ">Company</h5>
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>	
		        <form id="addCompanyModal">
			        <div class="modal-body bg-light ">
			        	<div class="alert alert-danger text-center hidethis" id="addCompanyModalError">
						</div>
			        	<div class="row ">
			        		<div class="col-sm-12 mb-1">
			          			<h5 class="modal-title ">Company</h5>
			          		</div>
			          		<div class="col-sm-12 text-center mb-4">
			          			<input type="text" required name="companyName" class="form-control" placeholder="The company you worked with">
			          		</div>	

			          		<div class="col-sm-12 mb-1">
			          			<h5 class="modal-title ">Company Contact Number</h5>
			          		</div>
			          		<div class="col-sm-12 text-center mb-4">
			          			<input type="text" required name="companyNumber" class="form-control" placeholder="Contact Number of the Company">
			          		</div>	

			          		<div class="col-sm-12 mb-1">
			          			<h5 class="modal-title ">Description <small class="text-secondary">(optional)</small></h5>
			          		</div>
			          		<div class="col-sm-12 text-center mb-4">
			          			<textarea name="companyDesc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			          		</div>
			        	</div>	         	
			        </div>
			        <div class="modal-footer border">		
			        	<div class="row col justify-content-center mx-0" >		        		
			        		<div class="col-sm-4">
			        			<button type="submit" class="form-control btn btn-success">Save</button>
			        		</div>
			        	 
			        		<div class="col-sm-4">
			        			<button type="button" class="form-control btn btn-secondary" data-dismiss="modal">Cancel</button>
			        		</div>
			        	</div>     				
			        </div>
		        </form>	
 			</div>
 		</div>
 	</div>


	<!-- start of JO form -->
	<div class="modal fade" id="JOFormModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-white">
				<div class="modal-header bg-light">
					<label class="modal-title centerModalTitle">
						<span class="lead"><b>Your Job Offer Form</b></span>
					</label>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body bg-white">
					<form>
						<!-- 1st col -->
						<div class="form-row">
							<!-- start of 1st col 1st box -->
							<div class="col border-info border-right">
								<div class="form-group">
									<label for="JOjobTitleModal">Job Title:</label>
									<input list="JOjobTitleModal" name="browser">
									  <datalist id="JOjobTitleModal">
									    <option value="Internet Explorer">
									    <option value="Firefox">
									    <option value="Chrome">
									    <option value="Opera">
									    <option value="Safari">
									  </datalist>
								</div>
								<div class="form-group">
									<label>Work Materials provided:</label>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="JOworkSelection" id="JOmaterialsYesModal">
										<label class="form-check-label" for="JOmaterialsYesModal">Yes</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="JOworkSelection" id="JOmaterialsNoModal">
										<label class="form-check-label" for="JOmaterialsNoModal">No</label>
									</div>
								</div>
								<div class="form-group">
									<label for="JOdateModal">Start Date:</label>
									<input type="date" name="startdate" id="JOdateModal" value="">
								</div>
								<div class="form-group">
									<label>Accomodation Type:</label><br>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" id="JOaccomodationIH">
										<label class="form-check-label" for="JOaccomodationIH">In-house</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" id="JOaccomodationIH">
										<label class="form-check-label" for="JOaccomodationIH">Off Site</label>
									</div>
								</div>
							</div>
							<!-- end of 1st col 1st box -->
							<!-- start of 1st col 2nd box x -->
							<div class="col">
								<div class="form-group">
									<label for="JOjobTitleModal">Civil Status:</label>
									<select id="JOjobTitleModal" class="form-control">
										<option>...</option>
										<option>...</option>
									</select>
								</div>
								<div class="form-group">
									<label for="JOjobTitleModal">Working Address:</label>
									<select id="JOjobTitleModal" class="form-control">
										<option>...</option>
										<option>...</option>
									</select>
								</div>
								<div class="form-group pt-2">
									<label for="JOdateModal">End Date:</label>
									<input type="date" name="enddate" id="JOdateModal">
								</div>
								<div class="form-group pt-2">
									<label>Payment Type:</label><br>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" id="JOpaymentON">
										<label class="form-check-label" for="JOaccomodationIH">Online</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" id="JOpaymentOF">
										<label class="form-check-label" for="JOaccomodationIH">Offline</label>
									</div>
								</div>
							</div>
							<!-- end of 1st col 2nd box -->
						</div>
						<!-- end of 1st col -->
						<!-- start of 2nd col -->
						<div class="col mt-2 border-top border-info">
							<div class="row">
								<div class="col-sm text-center">
									<div class="form-group">
										<label class="lead" for="JOtextareaModal">
											Message(optional)
										</label>
										<textarea class="form-control" id="JOtextareaModal"></textarea>
									</div>
								</div>
							</div>
						</div>
						<!-- end of 2nd col -->
					</form>
				</div>
				<div class="modal-footer bg-light">
					<button type="submit" class="btn btn-success"><span class="text-white">Submit</span></button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="text-white">Close</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of JO form -->



	<!-- start of add personal details -->
	<div class="modal fade" id="personalDetails">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-white">
				<div class="modal-header bg-light">
					<label class="modal-title centerModalTitle">
						<span class="lead"><b>Personal Details</b></span>
					</label>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<form id="seekerDetailsForm" enctype="multipart/form-data">
					<div class="modal-body bg-white">
						<div class="alert alert-danger text-center hidethis" id="personalDetailsModalError">
						</div>
							<div class="container">
								<div class="row">
									<div class="col-sm-3">
										<div class="d-flex justify-content-center">
											<img src="<?=!empty($SeekerProfile)?$SeekerProfile: '../../public/etc/images/system/PMlogo.png'?>" class="modalAddDetails rounded-circle" id="previewImage" alt="Your image goes here">
										</div>
									</div>
									<div class="offset-1 col-sm-4 pt-3" id="uploadPhotoDiv">
										<button type="button" class="btn btn-primary" id="substituteButtonSeeker">Upload Photo</button>
										<input class="form-control d-none inputImage" name="profileUploadSeeker" type="file" id="addDetailsSeeker" accept="image/jpeg,image/png">
									</div>
								</div>

								<div class="row pt-3">
									<div class="col-md-6 offset-md-0 col-lg-4 offset-lg-4">
										<div class="form-group">
								        	<label for="firstname">Name</label>
								        	<input type="text" readonly disabled class="form-control" value="<?=$SeekerFN;?>" id="firstname" placeholder="Firstname">
									    </div>
									</div>
									<div class="col-md-6 offset-md-0 col-lg-4 sameLabelMargin">
										<div class="form-group">
										   <input type="text" readonly disabled class="form-control" value="<?=$SeekerLN;?>" placeholder="Lastname">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md offset-md-0 col-lg offset-lg-4">
										<div class="form-group">
										    <label for="email">Email</label>
										    <input type="text" class="form-control" readonly disabled value="<?php echo isset($SeekerEmail)? $SeekerEmail: ''; ?>" id="email" placeholder="Email">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md offset-md-0 col-lg offset-lg-4">
										<div class="form-group">
										    <label for="address">Address</label>
										    <input type="text" required class="form-control" value="<?php echo isset($SeekerAddress)? $SeekerAddress: ''; ?>" name="seekerAddress" id="email" placeholder="Region/Province/State">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 offset-md-0 col-lg-4 offset-lg-4">
										<div class="form-group">
										   <input type="text" required value="<?php echo isset($SeekerStreet)? $SeekerStreet: ''; ?>" class="form-control" name="seekerStreet" placeholder="Street Address">
										</div>
									</div>
									<div class="col-md-6 offset-md-0 col-lg-4">
										<div class="form-group">
										   <input list="cities" required class="form-control" value="<?php echo isset($SeekerCity)? $SeekerCity: ''; ?>" name="seekerCity" placeholder="City">
									   		<datalist id="cities"> 
									      	 <option value="Alaminos"></option>
									         <option value="Angeles"></option>
									         <option value="Antipolo"></option>
									         <option value="Bacolod"></option>
									         <option value="Bacoor"></option>
									         <option value="Bago"></option>
									         <option value="Baguio"></option>
									         <option value="Bais"></option>
									         <option value="Balanga"></option>
									         <option value="Batac"></option>
									         <option value="Batangas City"></option>
									         <option value="Bayawan"></option>
									         <option value="Baybay"></option>
									         <option value="Bayugan"></option>
									         <option value="Biñan"></option>
									         <option value="Bislig"></option>
									         <option value="Bogo"></option>
									         <option value="Borongan"></option>
									         <option value="Butuan"></option>
									         <option value="Cabadbaran"></option>
									         <option value="Cabanatuan"></option>
									         <option value="Cabuyao"></option>
									         <option value="Cadiz"></option>
									         <option value="Cagayan de Oro"></option>
									         <option value="Calamba"></option>
									         <option value="Calapan"></option>
									         <option value="Calbayog"></option>
									         <option value="Caloocan"></option>
									         <option value="Candon"></option>
									         <option value="Canlaon"></option>
									         <option value="Carcar"></option>
									         <option value="Catbalogan"></option>
									         <option value="Cauayan"></option>
									         <option value="Cavite City"></option>
									         <option value="Cebu City"></option>
									         <option value="Cotabato City"></option>
									         <option value="Dagupan"></option>
									         <option value="Danao"></option>
									         <option value="Dapitan"></option>
									         <option value="Dasmariñas"></option>
									         <option value="Davao City"></option>
									         <option value="Digos"></option>
									         <option value="Dipolog"></option>
									         <option value="Dumaguete"></option>
									         <option value="El Salvador"></option>
									         <option value="Escalante"></option>
									         <option value="Gapan"></option>
									         <option value="General Santos"></option>
									         <option value="General Trias"></option>
									         <option value="Gingoog"></option>
									         <option value="Guihulngan"></option>
									         <option value="Himamaylan"></option>
									         <option value="Ilagan"></option>
									         <option value="Iligan"></option>
									         <option value="Iloilo City"></option>
									         <option value="Imus"></option>
									         <option value="Iriga"></option>
									         <option value="Isabela"></option>
									         <option value="Kabankalan"></option>
									         <option value="Kidapawan"></option>
									         <option value="Koronadal"></option>
									         <option value="La Carlota"></option>
									         <option value="Lamitan"></option>
									         <option value="Laoag"></option>
									         <option value="Lapu-Lapu"></option>
									         <option value="Las Piñas"></option>
									         <option value="Legazpi"></option>
									         <option value="Ligao"></option>
									         <option value="Lipa"></option>
									         <option value="Lucena"></option>
									         <option value="Maasin"></option>
									         <option value="Mabalacat"></option>
									         <option value="Makati"></option>
									         <option value="Malabon"></option>
									         <option value="Malaybalay"></option>
									         <option value="Malolos"></option>
									         <option value="Mandaluyong"></option>
									         <option value="Mandaue"></option>
									         <option value="Manila"></option>
									         <option value="Marawi"></option>
									         <option value="Marikina"></option>
									         <option value="Masbate City"></option>
									         <option value="Mati"></option>
									         <option value="Meycauayan"></option>
									         <option value="Muñoz"></option>
									         <option value="Muntinlupa"></option>
									         <option value="Naga"></option>
									         <option value="Navotas"></option>
									         <option value="Olangapo"></option>
									         <option value="Ormoc"></option>
									         <option value="Oroquieta"></option>
									         <option value="Oramiz"></option>
									         <option value="Pagadian"></option>
									         <option value="Palayan"></option>
									         <option value="Panabo"></option>
									         <option value="Parañaque"></option>
									         <option value="Pasay"></option>
									         <option value="Pasig"></option>
									         <option value="Passi"></option>
									         <option value="Puerto Princesa"></option>
									         <option value="Quezon City"></option>
									         <option value="Roxas"></option>
									         <option value="Sagay"></option>
									         <option value="Samal"></option>
									         <option value="San Carlos"></option>
									         <option value="San Carlos"></option>
									         <option value="San Fernando"></option>
									         <option value="San Fernando"></option>
									         <option value="San Jose"></option>
									         <option value="San Jose del Monte"></option>
									         <option value="San Juan"></option>
									         <option value="San Pablo"></option>
									         <option value="San Pedro"></option>
									         <option value="Santa Rosa"></option>
									         <option value="Santiago"></option>
									         <option value="Silay"></option>
									         <option value="Sipalay"></option>
									         <option value="Sorsogon City"></option>
									         <option value="Surigao City"></option>
									         <option value="Tabaco"></option>
									         <option value="Tabuk"></option>
									         <option value="Tacloban"></option>
									         <option value="Tacurong"></option>
									         <option value="Tagaytay"></option>
									         <option value="Tagbilaran"></option>
									         <option value="Taguig"></option>
									         <option value="Tagum"></option>
									         <option value="Talisay"></option>
									         <option value="Talisay"></option>
									         <option value="Tanauan"></option>
									         <option value="Tandag"></option>
									         <option value="Tangub"></option>
									         <option value="Tanjay"></option>
									         <option value="Tarlac City"></option>
									         <option value="Tayabas"></option>
									         <option value="Toledo"></option>
									         <option value="Trece Martires"></option>
									         <option value="Tuguegarao"></option>
									         <option value="Urdaneta"></option>
									         <option value="Valencia"></option>
									         <option value="Valenzuela"></option>
									         <option value="Victorias"></option>
									         <option value="Vigan"></option>
									         <option value="Zamboanga City"></option>   
											</datalist>
										</div>
									</div>
									</div>

								<div class="row">
									<div class="col-md-6 offset-md-0 col-lg offset-lg-4">
										<div class="form-group">
										    <label for="birthday">Birthday</label>
										    <input type="text" name="seekerBirthdate" value="<?php echo isset($SeekerBirthdate)? $SeekerBirthdate: ''; ?>" class="form-control <?php echo !isset($SeekerBirthdate)? datepicker: ''; ?>" disabled placeholder="Month/Date/Year">
										</div>
									</div>
									<div class="col-md-6 offset-md-0 col-lg">
										<div class="form-group">
											<?=$SeekerGender;?>
											<label for="gender">Gender</label>
											<select name="seekerGender" id="gender" class="custom-select" <?= !empty($SeekerGender)? "disabled readonly": ""; ?> >
											  <option value="notSelected" <?= !isset($SeekerGender)? "selected": ''; ?>>I am</option>
											  <option value="Male" <?= ($SeekerGender == "Male")? "selected": ''; ?>>Male</option>
											  <option value="Female" <?= ($SeekerGender == "Female")? "selected": ''; ?>>Female</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 offset-md-0 col-lg-8 offset-lg-4">
										<label for="number">Mobile Number</label>
										<div class="input-group mb-2">
									        <div class="input-group-prepend">
									          <div class="input-group-text">+63</div>
									        </div>
									        <input type="text" class="form-control" name="SeekerCPNo" id="seekerNumber"  maxlength="10" placeholder="Mobile Number" value="<?php echo isset($SeekerCPNo)? $SeekerCPNo: ''; ?>">
								        </div>	
							        </div>
								</div>
							</div>
						</div>
						<div class="modal-footer bg-light">
							<button type="submit" name="seekerUpdateData" class="btn btn-success"><span class="text-white">Submit</span></button>
							<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="text-white">Close</span></button>
						</div>
				</form>
			</div>
		</div>
	</div>
	<!-- end of add personal details -->


	<!-- verification -->
	<div class="modal fade bounce" id="verification" role="dialog ">
 		<div class="modal-dialog modal-dialog-centered rounded modal-lg" role="document" >
 			<div class="modal-content">
 				<div class="modal-header ">		          	
		          	<label class="modal-title centerModalTitle"><h5>Personal Details</h5></label>
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>	
		        <form id="verifySeeker" enctype="multipart/form-data">
			        <div class="modal-body bg-light ">
			        	<div class="alert alert-danger text-center hidethis" id="verifyError">
						</div>
		        		<div class="container">		        			
							<div class="row">
								<div class="col-sm-3">
			        				<div class=" row">
			        					<div class="col">
			        						<div class="form-group ">
			        							<img src="../../public/etc/images/system/PMlogo.png" class="mb-4 rounded mx-auto d-block modalAddDetails">
			        							<label class="my-2 text-center col">Government Issued ID</label>
			        							<label class="my-4 text-center col text-danger">Your Information is secured</label>
			        						</div>			        						
			        					</div>
			        				</div>

			        				<div class="row">
			        					<div class="col">
			        						<div class="form-group">
			        							<h5 class="text-center my-5">Quick Tips :</h5>
			        							<img src="../../public/etc/images/system/id.png" class="my-5 rounded mx-auto d-block">
			        							<img src="../../public/etc/images/system/expire.png" class="my-5 rounded mx-auto d-block ">
			        						</div>
			        					</div>
			        				</div>
			        			</div>

			        			<div class="col-sm-9 mt-5">
			        				<div class="row py-2">
			        					<div class="col-sm-6">
			        						<div class="row justify-content-center">
			        							<label class="">Front of your ID</label>
			        						</div>
			        						<div class="row justify-content-center">
			        							<input class="form-control d-none inputImage1" name="frontID" type="file" id="addDetailsSeeker1" accept="image/jpeg,image/png">
			        							<img src="../../public/etc/images/system/idFront.png" class="modalAddDetails " id="previewImage1">
			        						</div>
			        						<div class="row justify-content-center pt-2">
			        							<button type="button" class="btn btn-primary" id="substituteButton1">Upload Photo</button>
			        						</div>
			        					</div>
			        					<div class="col-sm-6">
			        						<div class="row  justify-content-center">
			        							<label class="">Back of your ID</label>
			        						</div>
			        						<div class="row justify-content-center">
			        							<input class="form-control d-none inputImage2" name="backID" type="file" id="addDetailsSeeker2" accept="image/jpeg,image/png">
			        							<img src="../../public/etc/images/system/idBack.png" class="modalAddDetails " id="previewImage2">
			        						</div>
			        						<div class="row justify-content-center pt-2">
			        							<button type="button" class="btn btn-primary" id="substituteButton2">Upload Photo</button>
			        						</div>
			        					</div>
			        				</div>

			        				<div class="row py-2">
			        					<div class="col">
			        						<div class="row  justify-content-center">
			        							<label>Selfie with ID</label>
			        						</div>
			        						<div class="row justify-content-center">
			        							<input class="form-control d-none inputImage3" name="selfieID" type="file" id="addDetailsSeeker3" accept="image/jpeg,image/png">
			        							<img src="../../public/etc/images/system/idSelfie.png" class="modalAddDetails" id="previewImage3">
			        						</div>
			        						<div class="row justify-content-center pt-2">
			        							<button type="button" class="btn btn-primary" id="substituteButton3">Upload Photo</button>
			        						</div>
			        					</div>
			        				</div>

			        				<div class="row py-1">
			        					<div class="col">
			        						<div class="form-group">
				        						<label>Select ID Type</label>
				        						<select name="acceptedId" class="form-control">
				        							<option value="Philippine Passport">Philippine Passport</option>
													<option value="Driver’s License">Driver’s License</option>
													<option value="SSS UMID Card">SSS UMID Card</option>
													<option value="PhilHealth ID">PhilHealth ID</option>
													<option value="TIN Card">TIN Card</option>
													<option value="Voter’s ID">Voter’s ID</option>
													<option value="PRC ID">PRC ID</option>
													<option value="Senior Citizen ID">Senior Citizen ID</option>
													<option value="OFW ID">OFW ID</option>
													<option value="NBI Clearance">NBI Clearance</option>
													<option value="Police Clearance">Police Clearance</option>
													<option value="Barangay Clearance">Barangay Clearance</option>
													<option value="Student ID">Student ID</option>
				        						</select>
			        						</div>
			        					</div>
			        				</div>

			        				<div class="row py-1">
			        					<div class="col">
			        						<div class="form-group">
				        						<label>ID Number</label>
				        						<input type="text" name="idNumber" class="form-control" value="">
			        						</div>
			        					</div>
			        				</div>

			        				<div class="row pt-1">
			        					<div class="col">
			        						<div class="form-group">
											   	<label for="expirationCOC">Expiration Date</label>
											    <input type='text' id='expiration_datetime_picker'name="expirationDate" class="form-control date" disabled readonly />
											</div>
											<script>
											$(function() {
												$('#expiration_datetime_picker').datepicker().on(
												    'show',
												    function() {
												        var modal = $('#expiration_datetime_picker').closest('.modal');
												        var datePicker = $('body').find('.datepicker');
												        if (!modal.length) {
												            $(datePicker).css('z-index', 'auto');
												            return;
												        }
												        var zIndexModal = $(modal).css('z-index');
												        $(datePicker).css('z-index', zIndexModal + 999).css("position", "relative");
												        }
												    );
											});
											</script>
			        					</div>
			        				</div>
			        				
			        			</div>
							</div>
		        		</div>       	
			        </div>

			        <div class="modal-footer bg-light">
						<button type="submit" name="seekerUpdateData" class="btn btn-success"><span class="text-white">Submit</span></button>
						<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="text-white">Close</span></button>
					</div>
				</form>
 			</div>
 		</div>
 	</div>
	<!-- end of verification -->



	<!-- reviews and rating -->
	<div class="modal fade" id="reviewAndRating">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-white">
				<div class="modal-header bg-light">
					<label class="modal-title centerModalTitle">
						<span class="lead"><b>My Reviews and Rating</b></span>
					</label>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body bg-white">
					<form>
						<div class="container border">
							<div class="row justify-content-center pt-3">
								<div>
									<img class="img-fluid imageReview rounded-circle" src="../etc/images/user/marvee.jpg"></img>
								</div>
							</div>
							<div class="row justify-content-center pt-2">
								<label>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
								</label>
							</div>
							<div class="row justify-content-center">
								<label><?=$rate;?></label>
							</div>
							<div class="row pt-3">
								<div class="container">
									<blockquote class="blockquote lead">
										  <p>Maayo kaayo ni siya mo dala, tapulan lang gud kaayo. Pero pang Wife material gud ni siya.</p>
										  <footer class="blockquote-footer text-right"><?=$reviewer;?></footer>
									</blockquote>
								</div>
							</div>
						</div>

					</form>
				</div>
				<div class="modal-footer bg-light">
					<div class="container-fluid pt-3">
						<nav>
							<ul class="pagination justify-content-center" id="paginationFooter">
								<li class="page-item disabled">
									<a class="page-link">
										<span>&laquo;</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link">
										<span>1</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link">
										<span>2</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link">
										<span>3</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link">
										<span>&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="text-white">Close</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of reviews and rating -->


	<!-- start of jobDone form -->
	<div class="modal fade" id="jobDone">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-white">
				<div class="modal-header bg-light">
					<label class="modal-title centerModalTitle">
						<span class="lead"><b class="pl-4">Way to go, Mate!</b></span>
					</label>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body bg-white">
					<form>
						<div class="container-fluid border border-secondary">
							<div class="row justify-content-center">
								<label class="lead">How did <?=$reviewer;?> do&quest;</label>
							</div>
							<div class="row justify-content-center pt-3">
								<div>
									<img class="img-fluid imageReview rounded-circle" src="../etc/images/user/pablo.jpg"></img>
								</div>
							</div>
							<div class="row justify-content-center pt-3">
								<label>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
									<i class="fas fa-star hoverRating text-warning"></i>
								</label>
							</div>
							<div class="col mt-2">
								<div class="row">
									<div class="col-sm text-center">
										<div class="form-group">
											<label class="lead" for="JOtextareaModal">
												Feedback
											</label>
											<textarea class="form-control" id="JOtextareaModal"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="modal-footer bg-light">
					<button type="submit" class="btn btn-success"><span class="text-white">Submit</span></button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="text-white">Close</span></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of jobDone form -->

	<!-- start of dispute form -->
	<div class="modal fade" id="dispute">
		<form>
			<div class="modal-dialog modal-lg">
				<div class="modal-content bg-white">
					<div class="modal-header bg-danger">
						<label class="modal-title centerModalTitle">
							<span class="lead">
								<b class="pl-4 text-white">What gone wrong&quest;</b>
							</span>
						</label>
						<button class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>	
					<div class="modal-body">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="lead" for="disputeArea">
											<span>What Happened? Give us some insight</span>
										</label>
										<textarea class="form-control" id="disputeArea"></textarea>
									</div>
								</div>
							</div>
							<div class="row justify-content-center">
								<button class="btn btn-success">Submit</button>
							</div>
						</div>
					</div>

					<div class="modal-footer bg-light">
						<button class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- end of dispute form -->

